<secret ephemeral='no' private='no'>
  <uuid>{{ global.ceph.libvirtd.secret.uuid }}</uuid>
  <usage type='{{ global.ceph.libvirtd.secret.usage_type }}'>
    <name>{{ global.ceph.libvirtd.secret.name }}</name>
  </usage>
</secret>
