[DEFAULT]
interface_driver = {{ l3_agent.conf.default.interface_driver }}
external_network_bridge = {{ l3_agent.conf.default.external_network_bridge }}
agent_mode = {{ l3_agent.conf.default.agent_mode }}
[agent]
[ovs]
