[DEFAULT]
driver = {{ metering_agent.conf.default.driver }}
interface_driver = {{ metering_agent.conf.default.interface_driver }}
measure_interval = {{ metering_agent.conf.default.measure_interval }}
report_interval = {{ metering_agent.conf.default.report_interval }}
[agent]
[ovs]
