[DEFAULT]
[l2pop]
[ml2]
type_drivers = {{ ml2_conf.conf.ml2.type_drivers }}
tenant_network_types = {{ ml2_conf.conf.ml2.tenant_network_types }}
mechanism_drivers = {{ ml2_conf.conf.ml2.mechanism_drivers }}
extension_drivers = {{ ml2_conf.conf.ml2.extension_drivers }}
path_mtu = {{ ml2_conf.conf.ml2.path_mtu }}
[ml2_type_flat]
flat_networks = {{ ml2_conf.conf.ml2_type_flat.flat_networks }}
[ml2_type_geneve]
[ml2_type_gre]
[ml2_type_vlan]
[ml2_type_vxlan]
vni_ranges = {{ ml2_conf.conf.ml2_type_vxlan.vni_ranges }}
[securitygroup]
firewall_driver = {{ ml2_conf.conf.securitygroup.firewall_driver }}
enable_ipset = {{ ml2_conf.conf.securitygroup.enable_ipset }}
