DEVICE={{ external_bridge.ifcfg_ethX.device }}
DEVICETYPE={{ external_bridge.ifcfg_ethX.device_type }}
TYPE={{ external_bridge.ifcfg_ethX.type }}
OVS_BRIDGE={{ external_bridge.ifcfg_ethX.ovs_bridge }}
ONBOOT={{ external_bridge.ifcfg_ethX.onboot }}
MTU={{ external_bridge.ifcfg_ethX.mtu }}
NM_CONTROLLED=no
