DEVICE={{ external_bridge.ifcfg_br_ex.device }}
DEVICETYPE={{ external_bridge.ifcfg_br_ex.device_type }}
TYPE={{ external_bridge.ifcfg_br_ex.type }}
BOOTPROTO={{ external_bridge.ifcfg_br_ex.bootproto }}
ONBOOT={{ external_bridge.ifcfg_br_ex.onboot }}
NM_CONTROLLED={{ external_bridge.ifcfg_br_ex.nm_controlled }}
MTU={{ external_bridge.ifcfg_br_ex.mtu }}
NM_CONTROLLED=no
