[network_ha-clustering_Stable]
name=Stable High Availability/Clustering packages (CentOS_CentOS-{{ pacemaker.centos.major_version }})
type=rpm-md
baseurl=http://download.opensuse.org/repositories/network:/ha-clustering:/Stable/CentOS_CentOS-{{ pacemaker.centos.major_version }}/
gpgcheck=1
gpgkey=http://download.opensuse.org/repositories/network:/ha-clustering:/Stable/CentOS_CentOS-{{ pacemaker.centos.major_version }}/repodata/repomd.xml.key
enabled=1
